.hero {
	padding: 50px 25px;
	display: flex;
	justify-content: center;
	.hero-box-text {
		width: 80%;
		.hero-heading {
			@include text(46px, 700, $color-black, auto);
		}
		.hero-box-text-info {
			display: flex;
			align-items: center;
			gap: 3px;
		}
	}

	.hero-box-image {
		width: 150px;
		height: 150px;
	}
}
