@mixin mq($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: #{map-get($breakpoints,$breakpoint)}) {
			@content;
		}
	} @else {
		@error 'There is no breakpoint as #{$size}';
	}
}

@mixin text(
	$fontSize: 16px,
	$fontWeight: 400,
	$color: #000,
	$lineHeight: 0
) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $color;
	line-height: $lineHeight;
}
